<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="header">
        <h1>Workout App</h1>
        <p>Welcome to the Workout App!</p>
    </div>

    <form action = "">
        <label>
            Search for a workout:
            <input type = "text" placeholder = "Search for a workout"/>
        </label>
    </form>
    <section class="workoutcards">
        <div class="contents" id="bench-press">
            <!--<img src="{{ url_for('static', filename='images/istockphoto-1028273740-612x612.jpg') }}" alt="Bench Press"/>-->
            <h4>Bench Press</h4>
            <button type = "button" class = "button">Add</button>
        </div>

        <div class="contents" id="squat">
            <!--<img src="{{ url_for('static', filename='images/squat jit.jpg') }}" alt="Squat"/>-->
            <h4>Squat</h4>
            <button type = "button" class = "button">Add</button>
        </div>

        <div class="contents" id="deadlift">
            <!--<img src="{{ url_for('static', filename='images/deadlift.jpg') }}" alt="Deadlift"/>-->
            <h4>Deadlift</h4>
            <button type = "button" class = "button">Add</button>
        </div>
    </section>
    <section class="workout-list-section">
        <h3>Workout List</h3>
        <div class="workout-list-container">
            <button id = "showListButton" class = "button">Show Workout List</button>
            <ul class="workout-list hidden" id="workoutList">
                <!-- Workout items will be added here -->
            </ul>
        </div>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
